body {
  text-align: center;
  font-family: helvetica;
}

h1,h2,h3 {
  font-weight: bold;
}
#main, #logo p {
  background-image: url(/Users/Noorulain/broadway/resources/images/flatiron.png);
  color: white;
}

#main h1 {
  font-size: 70px;
  font-weight: bold;
}

#main {
  background-size: cover;
  color: white;
}

#main a {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.para {
  font-size: 14px;
}

#logo p{
  font-weight: bold;
  font-size: 23px;
}

#footer {
  color: white;
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
 .btn-nav {
  color:white;
  font-size: 18px;
  font-weight: bold;
}
